/**
 * Mixins and imports
 */
@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700);
@import "palette";
@import "typography";

/**
 * Layout
 */
body {
	background-color: $bg;
}
.container {
	background-color: $fg;
}
header, div.body, footer {
	padding: 10px;
}

header nav {
	text-align: center;
}

table {
	tr td {
		text-align: center;
		&.table-label {
			text-align: left;
		}
		select {
			float: right;
			margin-top: 12px;
		}
		img {
			height: 40px;
			&.junctioned {
				padding: 2px;
				background-color: #fff;
				border-radius: 3px;
				border: 1px solid darken($bg, 20%);
			}
		}
	}
}

.table > tbody > tr > td {
	vertical-align: middle;
}